<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3>Angular 2 Seed</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <textarea [(ngModel)]="buff" class="form-control"></textarea>
    </div>
    <div class="col-md-6">
      <markdown-viewer [model]="buff"></markdown-viewer>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <markdown-editor [(model)]="buff"></markdown-editor>
    </div>
    <div class="col-md-6">
    </div>
  </div>

  <footer>
    © 2016
  </footer>

</div>
